<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.fh.api.mapper.coupon.CouponMapper">
	
	<!--表名 -->
	<sql id="tableName">
		wx_applet_coupon
	</sql>

	<resultMap id="BaseResultMap" type="org.fh.api.pojo.coupon.Coupon" >
		<id column="COUPON_ID" property="couponId"  />
		<result column="COUPON_TYPE" property="couponType"  />
		<result column="SERVICES_ID" property="servicesId"  />
		<result column="COUPON_TITLE" property="couponTitle"  />
		<result column="COUPON_REMARK" property="couponRemark"  />
		<result column="DISCOUNT_LIMIT_AMT" property="discountLimitAmt"  />
		<result column="DISCOUNT_AMT" property="discountAmt"  />
		<result column="STATUS" property="status"  />
		<result column="TOTAL_NUM" property="totalNum"  />
		<result column="VALIDATE_TIME" property="validateTime"  />
		<result column="EXPIRE_TIME" property="expireTime"  />
		<result column="BRIEF_INTRODUCTION" property="briefIntroduction"  />
		<result column="COUPON_IMG" property="couponImg"  />
		<result column="SHOW_POSITION" property="showPosition"  />

	</resultMap>

	 <!--查询所有的已经发布出来的优惠券-->
	<select id="getCouponById"  resultMap="BaseResultMap">
		SELECT
		t.COUPON_ID,
		t.COUPON_TYPE,
		t.SERVICES_ID,
		t.COUPON_TITLE,
		t.COUPON_REMARK,
		t.DISCOUNT_LIMIT_AMT,
		t.DISCOUNT_AMT,
		t.`STATUS`,
		t.TOTAL_NUM,
		t.VALIDATE_TIME,
		t.EXPIRE_TIME,
		t.BRIEF_INTRODUCTION,
		t.COUPON_IMG
		FROM
		wx_applet_coupon t
		WHERE
		t.COUPON_ID = #{id}
	</select>



	<select id="getCouponByPosition"  parameterType="String" resultMap="BaseResultMap">
		SELECT
		t.COUPON_ID,
		t.COUPON_TYPE,
		t.SERVICES_ID,
		t.COUPON_TITLE,
		t.COUPON_REMARK,
		t.DISCOUNT_LIMIT_AMT,
		t.DISCOUNT_AMT,
		t.`STATUS`,
		t.TOTAL_NUM,
		t.VALIDATE_TIME,
		t.EXPIRE_TIME,
		t.BRIEF_INTRODUCTION,
		t.COUPON_IMG
		FROM
		wx_applet_coupon t
		WHERE
		t.`STATUS` = 'publish'
		AND t.SHOW_POSITION = #{position}
		ORDER BY
		t.SORT_BY
	</select>
</mapper>